@use "./../../scss/palette.module" as p;
@use "./../../scss/mixins.module" as m;

%mainSetUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;

    &__Input {
        @extend %mainSetUp;

        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input {
                width: 65px;
            }
        }
    }

    &__Output {
        @extend %mainSetUp;

        video {
            width: 400px;
            height: 400px;
        }
    }
}
