@use "./../../scss/palette.module" as p;
@use "./../../scss/mixins.module" as m;

%mainSetUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;

    &__Input {
        @extend %mainSetUp;

        h4 {
            margin: 10px;
        }

        input,
        select {
            width: 65px;
            height: 30px;

            @include m.medium-screen {
                width: 80px;
                height: 40px;
            }

            @include m.large-screen {
                width: 120px;
                height: 40px;
            }

            @include m.xlarge-screen {
                width: 170px;
                height: 40px;
            }

            @include m.xxlarge-screen {
                width: 180px;
                height: 40px;
            }

            @include m.xxxlarge-screen {
                width: 200px;
                height: 50px;
            }

            @include m.xxxxlarge-screen {
                width: 240px;
                height: 60px;
            }
        }
    }

    &__Output {
        @extend %mainSetUp;

        video {
            @include m.medium-screen {
                width: 200px;
                height: 200px;
            }

            @include m.large-screen {
                width: 300px;
                height: 300px;
            }

            @include m.xlarge-screen {
                width: 400px;
                height: 400px;
            }

            @include m.xxlarge-screen {
                width: 500px;
                height: 500px;
            }

            @include m.xxxlarge-screen {
                width: 600px;
                height: 600px;
            }

            @include m.xxxxlarge-screen {
                width: 700px;
                height: 700px;
            }
        }

        button {
            margin-top: 10px;
        }
    }
}
