@media (prefers-color-scheme: light) {
  :root:not([data-theme=light]):not([data-theme=dark]) p,
:root:not([data-theme=light]):not([data-theme=dark]) a,
:root:not([data-theme=light]):not([data-theme=dark]) li,
:root:not([data-theme=light]):not([data-theme=dark]) footer, :root:not([data-theme=light]):not([data-theme=dark]) h1,
:root:not([data-theme=light]):not([data-theme=dark]) h2,
:root:not([data-theme=light]):not([data-theme=dark]) h3,
:root:not([data-theme=light]):not([data-theme=dark]) h4,
:root:not([data-theme=light]):not([data-theme=dark]) h5,
:root:not([data-theme=light]):not([data-theme=dark]) h6 {
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme=light]):not([data-theme=dark]) p,
:root:not([data-theme=light]):not([data-theme=dark]) a,
:root:not([data-theme=light]):not([data-theme=dark]) li,
:root:not([data-theme=light]):not([data-theme=dark]) footer, :root:not([data-theme=light]):not([data-theme=dark]) h1,
:root:not([data-theme=light]):not([data-theme=dark]) h2,
:root:not([data-theme=light]):not([data-theme=dark]) h3,
:root:not([data-theme=light]):not([data-theme=dark]) h4,
:root:not([data-theme=light]):not([data-theme=dark]) h5,
:root:not([data-theme=light]):not([data-theme=dark]) h6 {
    color: #ffffff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 700;
  white-space: nowrap;
}

h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 2.5rem;
}
@media only screen and (max-width: 450px) {
  h2 {
    font-size: 1.5rem;
  }
}

p,
a,
li,
footer {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
@media only screen and (max-width: 450px) {
  p,
a,
li,
footer {
    font-size: 0.625rem;
  }
}
@media only screen and (min-width: 451px) and (max-width: 880px) {
  p,
a,
li,
footer {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 881px) {
  p,
a,
li,
footer {
    font-size: 1.25rem;
  }
}

a,
footer,
button {
  font-weight: 700;
}

button {
  color: black;
}

#youtube {
  color: #ff0000;
}

#asterisk {
  color: #30a5c2;
}

footer {
  position: fixed;
  width: 100%;
  padding: 15px;
  bottom: 0;
  text-align: center;
}
footer span {
  display: inline-flex;
  color: #e74c3c;
  animation: love 0.7s infinite ease-out;
}
@keyframes love {
  0%, 100% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.5);
  }
}
@media (prefers-color-scheme: light) {
  :root:not([data-theme=light]):not([data-theme=dark]) footer {
    background-color: #f3f4f6;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme=light]):not([data-theme=dark]) footer {
    background-color: #222222;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, yellow, green, rgb(0, 153, 255), purple, pink, red);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
